@charset "utf-8"; /* CSS Document *//*css预设*/
* {
    margin: 0;
    padding: 0;
}



/*对HTML元素中的字体、颜色、背景色进行初始设置*/
ul li, ol li {
    list-style: none;s
}

/*将列表标签的默认样式清除*/
a {
    text-decoration: none;
    outline: none;
    color: #0000a0;
    blr: expression(this.onFocus=this.blur());
}

/*将超链接的下划线去掉以及在ie6中点击出现的虚线框去掉*/
img {
    border: none;
}



label, button {
    cursor: pointer
}



/*清楚浮动*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

/*解决ie6的兼容性问题*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.mt {
    margin-top: 80px;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
}

/*********************head********************/
.head {
    margin-top: 0px;
    min-width: 1160px;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}


.head ul {
    float: left;
    margin-left: 18%;
    line-height: 50px;
}

.head ul li {
    float: left;
    padding: 0 20px;
}

.head ul li > a {
    color: #008080;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.head ul li a:before {
    content: "";
    background: #A10000;
    position: absolute;
    bottom: -3px;
    z-index: -1;
    transform: scaleX(0);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.head ul li:nth-child(1) a:before {
    left: -12px;
}

.head ul li > a:hover {
    color: #A10000;
}

.head ul li > a:hover:before {
    width: 56px;
    height: 2px;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);;
    z-index: 9999;
}


.head div.sList div {
    text-align: center;
    padding: 20px 0;
    display: flex;
}

.head div.sList div a {
    flex: 1 1 20%;
    border-right: 1px solid #dbdbdb;
}

.head div.sList div a:last-child {
    border-right: none;
}

.head div.sList div dl dt img {
    width: 70%;
}

.head div.sList2 {
    display: none;
    position: absolute;
    top: 113px;
    left: 0;
    z-index: 3;
    background: #ffffff;
    width: 100%;
}

.head div.sList2 div {
    width: 46%;
    margin: 0 auto;
}

.head div.sList2 a {
	 color: #0000a0;
    font-size: 16px;
    float: left;
    margin-right: 40px;
    
}






